

#filter-ul{
    position: absolute;
    z-index: 10;

}

#filter-ul li{
    background-color: aliceblue;
    color: black;
    display: none;
}

#filter-ul li:focus{
    background-color: black;
    color: white;
}